html {
	font-size: 62.5%;
	@media #{$small-mobile} {
		font-size: 50%;
	}
}

* {
	transition: all 0.5s ease;
}

body {
	font-family: Roboto;
	color: white;
	background: #fdadc6;
}

.main-title {
	text-align: center;
	text-transform: uppercase;
	font-style: italic;
	font-weight: 700;
	@include font-size(5.4);

}

.container {
	max-width: 1000px;
	margin: 0 auto;
}

#photoID {
	height: 320px;
}

#photo {
	margin: 0 auto;
	display: block;
	border-radius: 50%;
}

.message {
	text-align: center;
	@include font-size(2);
}

.controls {
	margin-top: 50px;
	text-align: center;
}

.yolo,
.play,
.pause,
.off {
	font-weight: 500;
	margin: 0 auto 20px;
	display: block;
	background: transparent;
	border: 8px solid white;
	border-radius: 4px;
	color: white;
	font-style: bold;
	text-transform: uppercase;
	@include font-size(3.6);
	padding: 20px;
	text-align: center;
	&:hover {
		background: white;
		color: #fdadc6;
	}
}

.pause,
.play,
.off,
.instagram,
.philips-hue {
	display: none;
}