html {
	font-size: 62.5%;
	@media #{$small-mobile} {
		font-size: 50%;
	}
}

* {
	transition: all 0.5s ease;
}

body {
	font-family: Roboto;
	color: #a39161;
	background: black;
}

.main-title {
	text-align: center;
	text-transform: uppercase;
	font-style: italic;
	font-weight: 700;
	@include font-size(5.4);

}

.container {
	max-width: 1000px;
	margin: 0 auto;
}

#photoID {
	min-height: 360px;
}

#photo {
	margin: 0 auto;
	display: block;
	border-radius: 50%;
	border: 4px solid white;
}

.message {
	text-align: center;
	@include font-size(2);
}

.controls {
	margin-top: 50px;
	text-align: center;
}

.yolo,
.play,
.pause,
.off {
	font-weight: 500;
	margin: 0 10px;
	display: inline-block;
	background: transparent;
	border: 8px solid #a39161;
	border-radius: 4px;
	color: #a39161;
	font-style: bold;
	text-transform: uppercase;
	@include font-size(3.6);
	padding: 20px;
	text-align: center;
	&:hover {
		background: #a39161;
		color: black;
	}
}


.lights-on,
.lights-on-button {
	color: white;
}

.lights-on-button {
	border-color: white;
	&:hover {
		background: white;
	}
}


.pause,
.play,
.off,
.instagram,
.philips-hue {
	display: none;
}